# build Configuration, i.e. Debug, Release, etc.
configuration: Release

dotnet_csproj:
  patch: true
  file: 'src\Renci.SshNet.NetCore\Renci.SshNet.NETCore.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

# scripts to run before build
before_build:
  - dotnet restore

build_script:
  - dotnet build .\src\Renci.SshNet.NetCore\Renci.SshNet.NETCore.csproj

artifacts:
  - path: ./src\SshNet.Security.Cryptography.NETStandard\bin\Release\*.nupkg
  
deploy:
- provider: NuGet
  api_key:
    secure: 078KmfOy1mx+V/EMAMg8repid/YclWiJ5l0gion45rUojxExaTHZ6EYB2e28VVtL