# build Configuration, i.e. Debug, Release, etc.
configuration: Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

# scripts to run before build
before_build:
  - dotnet restore .\src\SshNet.Security.Cryptography.NETStandard\SshNet.Security.Cryptography.NETStandard.csproj

build_script:
  - dotnet build .\src\SshNet.Security.Cryptography.NETStandard\SshNet.Security.Cryptography.NETStandard.csproj

artifacts:
  - path: src\SshNet.Security.Cryptography.NETStandard\bin\Release\*.nupkg
  
deploy:
- provider: NuGet
  api_key:
    secure: oy2ncv4azpth5strcrfqlnnxlptivu4u5kdqtjcpcwq2f4