# build Configuration, i.e. Debug, Release, etc.
configuration: Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

# scripts to run before build
before_build:
  - dotnet restore .\src\SshNet.Security.Cryptography.NETStandard\SshNet.Security.Cryptography.NETStandard.csproj

build_script:
  - dotnet build .\src\SshNet.Security.Cryptography.NETStandard\SshNet.Security.Cryptography.NETStandard.csproj

artifacts:
  - path: src\SshNet.Security.Cryptography.NETStandard\bin\Release\*.nupkg
  
deploy:
- provider: NuGet
  symbol_server: https://ci.appveyor.com/nuget/cryptography-0fk32aa0x6l1/api/v2/package
  api_key:
    secure: oy2autf4eceucss6vcsal4yby6emu2yezf3irnsctoyxxu